sudo: required
services:
- docker
language: cpp

env:
  matrix:
  - JOB_STAGE=1 JOB_ARCH=amd64
  - JOB_STAGE=1 JOB_ARCH=arm64
  - JOB_STAGE=1 JOB_ARCH=armel
  - JOB_STAGE=1 JOB_ARCH=armhf
  - JOB_STAGE=1 JOB_ARCH=i386
  - JOB_STAGE=1 JOB_ARCH=mips
  - JOB_STAGE=1 JOB_ARCH=mips64el
  - JOB_STAGE=1 JOB_ARCH=mipsel
  - JOB_STAGE=1 JOB_ARCH=ppc64el
  - JOB_STAGE=1 JOB_ARCH=s390x
  - JOB_STAGE=2 JOB_ARCH=amd64
  - JOB_STAGE=2 JOB_ARCH=arm64
  - JOB_STAGE=2 JOB_ARCH=armel
  - JOB_STAGE=2 JOB_ARCH=armhf
  - JOB_STAGE=2 JOB_ARCH=i386
  - JOB_STAGE=2 JOB_ARCH=mips
  - JOB_STAGE=2 JOB_ARCH=mips64el
  - JOB_STAGE=2 JOB_ARCH=mipsel
  - JOB_STAGE=2 JOB_ARCH=ppc64el
  - JOB_STAGE=2 JOB_ARCH=s390x
  global:
  - DOCKER_EXEC_ROOT="docker exec --user root test_container"
  - DOCKER_EXEC="docker exec test_container"
  - BINTRAY_USER=laarid
  - BINTRAY_REPO=main
  - BINTRAY_COMPONENT=main
  - BINTRAY_DESC="Android system core libraries"

matrix:
  fast_finish: true
  allow_failures:
  - env: JOB_STAGE=1 JOB_ARCH=mips64el
  - env: JOB_STAGE=2 JOB_ARCH=mips64el

addons:
  apt:
    packages:
    - dpkg-dev

before_install:
- docker run --rm --privileged vicamo/binfmt-qemu:latest
- cat /proc/sys/fs/binfmt_misc/qemu-*
- |
  export JOB_SUITE=$(dpkg-parsechangelog | grep ^Distribution: | awk '{print $2}')
- |
  docker run --detach --tty \
    --name test_container \
    --volume ${TRAVIS_BUILD_DIR%${TRAVIS_REPO_SLUG}}:${TRAVIS_BUILD_DIR%${TRAVIS_REPO_SLUG}} \
    --workdir ${TRAVIS_BUILD_DIR} \
    --add-host dl.bintray.com:$(nslookup dl.bintray.com | grep -m1 -A1 Name: | grep Address: | awk '{print $2}') \
    laarid/devel:${JOB_SUITE}-${JOB_ARCH} \
    /bin/bash

install:
- ${DOCKER_EXEC_ROOT} chown --recursive laarid:laarid ${TRAVIS_BUILD_DIR%${TRAVIS_REPO_SLUG}}
- ${DOCKER_EXEC_ROOT} apt-get update -qq
- |
  ${DOCKER_EXEC} \
    env "DEB_BUILD_PROFILES=pkg.$(dpkg-parsechangelog | grep ^Source: | awk '{print $2}').stage${JOB_STAGE}" \
    mk-build-deps --install --remove \
      --host-arch ${JOB_ARCH} \
      --root-cmd sudo \
      --tool 'apt-get -o Debug::pkgProblemResolver=yes --no-install-recommends -y --allow-unauthenticated'

script:
- |
  ${DOCKER_EXEC} env \
      "DEB_BUILD_OPTIONS=nocheck" \
    dpkg-buildpackage \
      --host-arch ${JOB_ARCH} \
      --build-profiles=pkg.$(dpkg-parsechangelog | grep ^Source: | awk '{print $2}').stage${JOB_STAGE},nocheck \
      -i -us -uc -b;
- ${DOCKER_EXEC} make -C build -j $(nproc) .gitignore distcheck
- git status
- git status | grep 'working tree clean'

before_deploy:
- sudo chown --recursive $(id --user):$(id --group) ${TRAVIS_BUILD_DIR%${TRAVIS_REPO_SLUG}}
- |
  cat .bintray.json.in | \
    sed -e "s#@BINTRAY_PACKAGE@#$(dpkg-parsechangelog | grep ^Source: | awk '{print $2}')#g" \
        -e "s#@BINTRAY_USER@#${BINTRAY_USER}#g" \
        -e "s#@BINTRAY_REPO@#${BINTRAY_REPO}#g" \
        -e "s#@BINTRAY_DESC@#${BINTRAY_DESC}#g" \
        -e "s#@GITHUB_REPO@#${TRAVIS_REPO_SLUG}#g" \
        -e "s#@BINTRAY_VERSION@#$(dpkg-parsechangelog | grep ^Version: | awk '{print $2}')#g" \
        -e "s#@BINTRAY_RELEASE_DATE@#$(date -Iseconds --date="$(dpkg-parsechangelog | grep ^Date: | cut -d ' ' -f 2-)")#g" \
        -e "s#@BINTRAY_OUTDIR@#$(dirname ${TRAVIS_BUILD_DIR})#g" \
        -e "s#@BINTRAY_POOLABBR@#$(dpkg-parsechangelog | grep ^Source: | awk '{print $2}' | cut -c1)#g" \
        -e "s#@BINTRAY_SUITE@#${JOB_SUITE}#g" \
        -e "s#@BINTRAY_COMPONENT@#${BINTRAY_COMPONENT}#g" \
        -e "s#@BINTRAY_ARCH@#${JOB_ARCH}#g" | \
    tee bintray.json

deploy:
- provider: bintray
  file: bintray.json
  user: vicamo
  key:
    secure: "qZmynoFS3xYdDANotC/PtUNobxs/vakivZ7YxSZsHjSH2KI/9AaLLHqm57Gjh9DgvNu84PnsBnlb8H2aWkwiZuuJpYyLOFV2hUE384oLuOb/84N2P3R9uf+ru0+AjavzrMH2mNQpG6+XS3KNT08a7nBcWTrNSFsV2QGkhb3+BUQnv/SMAP1b3nh/0AcbRe9yGsE9jeQDG6hmZjDH+DjbApIdZ2WWfd4fAyFgqZHoGsN4yOwr41BwVBbXKTxyC1DQxstGazyq1ezNdNTJixVMuHW7qliHuKcUMYeC0PNNGoKI7pRkfI3q0SarkOiVqaOtwWP8u1Y0GZ+5ZLWcN2xmjHH/v4MgvpoIkVUxAto4cWEN7EfAATzV1IvpVxq2EPOgjCxOfqdLI9Qv/paJ7a7AOb/g+dV8brTRP1RJ2OPMrVdt6MKINRLjs0GCXtjkszEwdjv57L/9BgHg0WCQRGMrPMAFKxSlG9H5jfj0hlhMAOgQBsoUmacpdboPiF8fXOMrE9T3CiWmO3KZERbfahUzGj55DTxNt9XaFy7cYPZFEAw6c6t1mtAUyirPaMEZ/UjZHC1tqChJB4+qT+uLAVICq4ihUy7ZA0PUfT/WfyIjxQpXG+yet1tdlXbIOmvgShpPyo1Sc0VUawqFUJlFcLNeYfx2OtDUvggAt5dQLQd2G+8="
  on:
    tags: true

notifications:
  slack:
    rooms:
    - secure: "RCW5IZrGtLtEoxw4QQld6020IJlX8bjzfoJv69Fm4zKN3gMxLnOgItjOLAQyDFYzNJ4T60aTBrs85Q6T1COJOT52Z4lwvCfCGGNOdV24SAL/Bzy0kRtHx3/9PCo6qRbxH+Am5cfN2ahdqT/eyCcnIZ1q45IlwBHS8LIrsjZV84E5RQE6pzVhtUwWu0izPHJfvzi0z1RJgiUTHJtPfsqTEBqVaY0WkwoJ6fPj8qjnJklt4mYDEFGy5OSy+f2FnQ0F4HKVupfmJlgVVM1L6wyAjYnUIxD3Rd8OfTCs5lrRShCdio37KjDdXKMA5Ol3yVyERgKLswCBoTGutZenLGn1bJiB0y+TZmfYKHsxTJGb+NU+xPCy1yb3xb2kG6Qm3rrVZip8M0SabxaIfTFyecNsv67UJ3Z+ngXDbENE0rNwcyn3RPDW7+tzF7cJIunzQVhQH6xd5aXaBXIidZ9Wpb8BNrbx6/FUV3UK+MTfkiBMCdyR7i+fxcJXBgVAoQPK/evbgFB10VLwZUKxw57GbGsuc0Muu+PUM7wEVAu9vBniAnqu2dNwvQAc8tw8EBPwdApRyvOXnMv9lxW4qm8W27ABH+GBvgEuHz/LB/ShPUo7c6JtcGj+qFlYMNekJqkRI54nsWQL6D2DWyR5wX+KgUJ9J2NP90H9vZIE+RitvWylpAk="
